<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DB Info</title>
</head>
<body>
    <h1>Database Tables</h1>
    <ul>
        <% tables.forEach(function(r) { %>
            
            <li> <%= r.table %>: <%= r.column%> (<% r.type %>) </li>

        <% }); %>

<<<<<<< HEAD
<<<<<<< HEAD
    <h1>Observations</h1>
    <ul>
        <% obs.forEach(function(r) {%>
            <li> <%= r.tasks_id %> for <%= r.duration.minutes || "00" %>:<%= r.duration.seconds || "00" %> </li>
        <% }); %>
=======
>>>>>>> parent of 29b1569 ([Finishes #181782739]Validated Technology Stack)
=======
>>>>>>> parent of 29b1569 ([Finishes #181782739]Validated Technology Stack)
    </ul>
</body>
</html>