<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DB Info</title>
</head>
<body>
    <h1>Database Tables</h1>
    <ul>
        <% tables.forEach(function(r) { %>
            
            <li> <%= r.table %>: <%= r.column%> (<% r.type %>) </li>

        <% }); %>
    </ul>

    <h1>Observations</h1>
    <ul>

        <% obs.forEach(function(r) {%>


            <li> 

                <% if (r.tasks_id == 1) {%>
                    <span>Planned Pres.</span>
                <% } %>
                <% if (r.tasks_id == 2) {%>
                    <span>Response Pres.</span>
                <% } %>
                <% if (r.tasks_id == 3) {%>
                    <span>Monitoring</span>
                <% } %>
                <% if (r.tasks_id == 4) {%>
                    <span>Perform. Feedbk.</span>
                <% } %>
                <% if (r.tasks_id == 5) {%>
                    <span>Motive. Feedbk.</span>
                <% } %>
                <% if (r.tasks_id == 6) {%>
                    <span>Beg/End Class</span>
                <% } %>
                <% if (r.tasks_id == 7) {%>
                    <span>Equip. Mgt.</span>
                <% } %>
                <% if (r.tasks_id == 8) {%>
                    <span>Organization</span>
                <% } %>
                <% if (r.tasks_id == 9) {%>
                    <span>Behavior Mgt.</span>
                <% } %>
                <% if (r.tasks_id == 10) {%>
                    <span>Other Tasks</span>
                <% } %>

                : <%= r.duration.hours || "00" %>:<%= r.duration.minutes || "00" %>:<%= r.duration.seconds || "00" %>
            </li>

        <% }); %>

    </ul>

</body>
</html>